{% extends "base.html.twig" %}

{% block main %}
	<section class="jumbotron text-center">
	        <div class="container">
	          <h1 class="jumbotron-heading">{{ 'LPA Audit'|trans() }}</h1>
	          <p>{{ '....' }}</p>
	          {% if questions %}
			    <form method="post" data-turbo="false">
			      	{% for question in questions %}
			      	<div id="question{{ loop.index }}" class="tab-pane fade{% if loop.index == 1  %} active show{% endif %}">
			          <h3>{{ question.text|raw }}</h3>
			          {% if question.comment %}
			          <p>{{ question.comment|raw }}</p>
			          {% endif %}
			          <select class="form-select middle-with answer-select" name="answer[question{{ question.id }}]" id="question{{ question.id }}_answer" required="required">
			          	<option value=""></option>
			          {% for answer in question.availableAnswers %}
			          	<option value="{{ answer }}">{{ answer|trans() }}</option>
			          {% endfor %}
			          </select>
			          <br />
			          <div id="question{{ question.id }}_justif" class="justification hidden">
			          	<label for="question{{ question.id }}_comment" class="sr-only">{{ 'Justification'|trans() }}:</label>
			          	<input type="text" class="form-control" id="question{{ question.id }}_comment" name="comment[question{{ question.id }}]" >
			          </div>
			        </div>
		          	{% endfor %}
			      </div>
			      <button id="send-button" class="btn btn-lg btn-primary btn-block" type="submit" disabled>{{ 'Submit'|trans() }}</button>
			    </form>
			    {% else %}
			    <h3>{{ 'Thank you for today work!'|trans() }}</h3>
			    {% endif %}
	    </section>
{% endblock %}