{% extends "base.html.twig" %}

{% block hello %}
      <span class="hello">{{ 'Hello'|trans() }} {{ last_username }}!</span>
      <a href="/logout" class="btn btn-secondary navbar-brand d-flex align-items-center">{{ 'Logout'|trans() }}</a>
{% endblock %}

{% block main %}
	<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ 'LPA Audit'|trans() }}</h1>
          <p>{{ 'Layered Process Audit'|trans() }}</p>
          {% if user_level %}
          <h3>{{ 'Welcome on '|trans() }}{{ user_level|trans() }}en</h3>
          {% endif %}
          {% if area %}
          <p>
          	{{ 'Actual area:'|trans() }} <b>{{ area.name}}</b><br />
          	{{ 'Actual table group:'|trans() }} <b>{{ tableGroup.name}}</b><br />
          	{{ 'Actual product:'|trans() }} <b>{{ product}}</b>
          </p>
          {% endif %}
          {% if questions %}
		    <form method="post" data-turbo="false">
		      	{% for question in questions %}
		      	<div id="question{{ loop.index }}" class="tab-pane fade{% if loop.index == 1  %} active show{% endif %}">
		          <h3>{{ question.text|raw }}</h3>
		          {% if question.comment %}
		          <p>{{ question.comment|raw }}</p>
		          {% endif %}
		          <select class="form-select middle-with answer-select" name="answer[question{{ question.id }}]" id="question{{ question.id }}_answer" required="required">
		          	<option value=""></option>
		          {% for answer in question.availableAnswers %}
		          	<option value="{{ answer }}">{{ answer|trans() }}</option>
		          {% endfor %}
		          </select>
		          <br />
		          <div id="question{{ question.id }}_justif" class="justification hidden">
		          	<label for="question{{ question.id }}_comment" class="sr-only">{{ 'Justification'|trans() }}:</label>
		          	<input type="text" class="form-control" id="question{{ question.id }}_comment" name="comment[question{{ question.id }}]" >
		          </div>
		        </div>
	          	{% endfor %}
		      </div>
		      <button id="send-button" class="btn btn-lg btn-primary btn-block" type="submit" disabled>{{ 'Submit'|trans() }}</button>
		    </form>
	    {% else %}
	    <h4><b>{{ 'Thank you for today work!'|trans() }}</b></h4>
		    {% if auditFinaleResult %}
		<p>{{ 'Audit final result:'|trans() }} <b>{{ auditFinaleResult }}</b></p>
		    {% endif %}
	    {% endif %}
    </section>
{% endblock %}

{% block lower_scripts %}
<script src="/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $(".answer-select").on('change', function(event){
            var targetId = event.target.id.replace("answer", "justif");
            var inputId = event.target.id.replace("answer", "comment");
            var targetDiv = $('#'+targetId);
            var targetInp = $('#'+inputId);
            targetDiv.removeClass("hidden");
            targetInp.attr('required', 'required');
            if (event.target.value != 'NOK' && event.target.value != 'Corr') {
            	targetDiv.addClass("hidden");
            	targetInp.attr('required', false);
        	}
        	var inputs = $(".answer-select");
        	var buttonDisabled = false;
        	for(var i = 0; i < inputs.length; i++){
			    if ($(inputs[i]).val() == '') {
			    	buttonDisabled = true;
		    	}
			}
			var buttonSend = $("#send-button");
			buttonSend.attr("disabled", true);
			if (!buttonDisabled) {
				buttonSend.attr("disabled", false);
			}
        });
    });
</script>
{% endblock %}
