<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <title>{% block title %}LPA Audit{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
	      <div class="navbar navbar-dark bg-dark box-shadow">
	        <div class="container d-flex justify-content-between">
	        	
	          {% if last_username %}
		          <span class="hello">{{ 'Hello'|trans() }} {{ last_username }}!</span>
		          <a href="/logout" class="btn btn-secondary navbar-brand d-flex align-items-center">{{ 'Logout'|trans() }}</a>
	          {% else %}
		          <span class="hello">{{ 'Please, sign in!'|trans() }}</span>
		          <a href="/login" class="btn btn-secondary navbar-brand d-flex align-items-center">{{ 'Login'|trans() }}</a>
	          {% endif %}
	        </div>
	      </div>
	    </header>
        
        <main role="main">
		{% block main %}
	      <section class="jumbotron text-center">
	        <div class="container">
	          <h1 class="jumbotron-heading">{{ 'LPA Audit'|trans() }}</h1>
	          <p>{{ 'To start the audit, please select the target platform.'|trans() }}</p>
	          {% if last_username %}
	          	<form method="post" data-turbo="false" id="selector" {% if is_level_1 %}onsubmit="event.preventDefault();  myFunction(this);"{% endif %}>
	          		<label for="area">{{ 'Area'|trans() }}: </label>
	          		<select id="area" name="area" selected="{{ default_area }}">
	          			{% for area in areas %}
	          				<option value="{{ area }}">{{ area|trans() }}</options>
	          			{% endfor %}
	          		</select>
	          		{% if table_groups  %}
	          		<label for="table_group">{{ 'Table Group'|trans() }}: </label>
	          		<select id="table_group">
	          			{% for table_group in table_groups %}
	          				<option value="{{ table_group.id }}">{{ table_group }}</options>
	          			{% endfor %}
	          		</select>
	          		{% endif %}
	          		{% if products %}
	          		<label for="product">{{ 'Product'|trans() }}: </label>
	          		<select id="product">
	          			{% for product in products %}
	          				<option value="{{ product.id }}">{{ product }}</options>
	          			{% endfor %}
	          		</select>
	          		{% endif %}
	          		<br />
	          		<br />
	          		<br />
	          		<button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Start'|trans() }}</button>
	          	</form>
	          {% else %}
	          <p class="lead text-muted">{{ 'Opening text...'|trans() }}</p>
	          {% endif %}
	        </div>
	      </section>
	    {% endblock %}
	    </main>
        
        <footer class="text-muted">
		      <div class="container">
		        <p class="float-right">
		          <a href="#">{{ 'Back to top'|trans() }}</a>
		        </p>
		      </div>
	    </footer>
        {% endblock %}
        <script>
			function myFunction(form) {
				window.location.href = "/form/"+document.getElementById('area').value+"/"+document.getElementById('table_group').value+"/"+document.getElementById('product').value;
			}
			</script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
			    $(document).ready(function(){
			        $(".answer-select").on('change', function(event){
			            var targetId = event.target.id.replace("answer", "justif");
			            var inputId = event.target.id.replace("answer", "comment");
			            var targetInp = $('#'+inputId);
			            targetInp.attr('required', 'required');
			            if (event.target.value != 'NOK') {
			            	targetInp.attr('required', false);
		            	}
		            	var inputs = $(".answer-select");
		            	var buttonDisabled = false;
		            	for(var i = 0; i < inputs.length; i++){
						    if ($(inputs[i]).val() == '') {
						    	buttonDisabled = true;
					    	}
						}
						var buttonSend = $("#send-button");
						buttonSend.attr("disabled", true);
						if (!buttonDisabled) {
							buttonSend.attr("disabled", false);
						}
			        });
			    });
			</script>
    </body>
</html>
