<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <title>{% block title %}LPA Audit{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
	      <div class="navbar navbar-dark bg-dark box-shadow">
	        <div class="container d-flex justify-content-between">
	        {% block hello %}
	          {% if last_username %}
		          <span class="hello">{{ 'Hello'|trans() }} {{ last_username }}!</span>
		          <a href="/logout" class="btn btn-secondary navbar-brand d-flex align-items-center">{{ 'Logout'|trans() }}</a>
	          {% else %}
		          <span class="hello">{{ 'Please, sign in!'|trans() }}</span>
		          <a href="/login" class="btn btn-secondary navbar-brand d-flex align-items-center">{{ 'Login'|trans() }}</a>
	          {% endif %}
            {% endblock %}
	        </div>
	      </div>
	    </header>
        
        <main role="main">
		{% block main %}
	      <section class="jumbotron text-center">
	        <div class="container">
	          <h1 class="jumbotron-heading">{{ 'Hirschmann – LPA'|trans() }}</h1>
	          <p>{{ 'Layered Process Audit'|trans() }}</p>
	          
	        </div>
	      </section>
	    {% endblock %}
	    </main>
        <footer class="mt-auto">
          <div class="container">
            <div class="row">
                <div class="col-md-2 text-left">
    	          <a href="#">{{ 'Back to top'|trans() }}</a>
    	        </div>
              <div class="col-md-8 text-center">
                <p>&copy; Created By <a href="http://cswebsolution.hu">Cs Web Solution</a></p>
              </div>
              <div class="col-md-2 text-right">
    	          
    	        </div>
            </div>
          </div>
        </footer>
        {% endblock %}
        
        {% block lower_scripts %}
        <script src="/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
		    $(document).ready(function(){
			    
		    });
		</script>
		{% endblock %}
    </body>
</html>
